:root {
  --vh: 100vh;
}

body,
html {
  font-family: 'Fira Sans', sans-serif;
  min-width: 320px;

  @apply text-black antialiased;

  @screen dark-mode {
    @apply text-white;
  }
}

@supports (padding-top: env(safe-area-inset-top)) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
