body,
html {
  min-width: 320px;
}

#sapper {
  min-height: 100vh;

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;

    @media (display-mode: standalone) {
      min-height: 100vh;
    }
  }
}

header {
  padding-top: env(safe-area-inset-top);
}

footer {
  margin-bottom: env(safe-area-inset-bottom);
}

img {
  font-size: 0;

  @dark-mode {
    filter: grayscale(50%);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
