body,
html {
  font-family: 'Fira Sans', sans-serif;
  min-width: 320px;

  @apply text-black antialiased;

  @screen dark-mode {
    @apply text-white;
  }
}

.page {
  /* min-height: 100vh; */
  min-height: -webkit-fill-available;

  /* @media (display-mode: standalone) {
    min-height: 100vh;
  } */
}

header {
  padding-top: env(safe-area-inset-top);
}

footer {
  margin-bottom: env(safe-area-inset-bottom);
}

img {
  font-size: 0;

  @screen dark-mode {
    filter: grayscale(50%);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
